<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script type="text/javascript" src="src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
<script src="http//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script>
var myApp=angular.module("best_buy",[]);
myApp.controller("myCtrl",function($scope){
	$scope.products=[
		 {"name":"Laptop","price":349.49,"quantity":2,"soldOut":false},
		 {"name":"Printer","price":49.99,"quantity":5,"soldOut":false},
		 {"name":"Tv","price":849.79,"quantity":3,"soldOut":false}            
		 ];	
	$scope.bought=function(i){
		if ($scope.products[i].soldOut==false){		
	$scope.products[i].quantity=$scope.products[i].quantity-1;
			//alert("Congratualtion, you just bought 1");
			if($scope.products[i].quantity==0)
			{$scope.products[i].soldOut=true;}
		   }	
		else {		
	//alert("Sorry the product is soldout");		
		}
	};
});
</script>
</head>
<style>
ul{list-style:none;}
</style>
<body ng-app="best_buy">
<div ng-controller="myCtrl">
<div class="alert alert-warning" role="alert">
<div class="alert alert-info" role="alert">
<div class="alert alert-success" role="alert">
<table class="table table-hover">
	<thead><th  class="success">Item</th><th class="info">Price</th><th  class="success">Quantity</th><th  class="info"></th></thead>
		<tr   ng-repeat="item in products">
			<td  class="success"><div class="alert alert-success" role="alert">{{item.name}}</div> </td>
			<td class="info"><div class="alert alert-info" role="alert">{{item.price | currency}}</div> </td>
			<td class="success"><div class="alert alert-success" role="alert">{{item.quantity}}</div> </td>
			<td class="info">
			<div class="alert alert-info" role="alert">
			<button class="btn btn-info btn-xs" ng-hide="item.soldOut" ng-click="bought($index)">Buy</button>
			<span ng-show="item.soldOut"  class="label label-danger">SoldOut!</span></div></div> </td>
	
</table>
</div>
</div>
</div>
</div>


</body>
</html>
